body{
    margin: 0;
    padding: 0;
}
#root{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    width:600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outer_button{
    margin-bottom: 10px;
}
.outer_frame{
    width:100%;
    height: 100%;
    border:1px dashed black;
    display: flex;
    flex-direction: column;
}
.outer_line{
    width:100%;
    height: 100%;
    display: flex;
}
.inner_row{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px dashed gainsboro;
    background-color: black;
    
}
.inner_row:hover span{
    display: inline-block;
}
.clicked{
    border:1px dashed black;
    background-color: white;
}
.inner_row  span {
    position: absolute;
    display: none;
    content: attr(aria-label);
    bottom: 44px;
    left: 0;
    color: red;
    font-size: 12px;
    white-space: nowrap;
    background-color: aquamarine;
    padding: 10px 10px;
    border-radius: 4px;
    z-index: 100;
}
.emoji{
    z-index: -10;
}
.boom > .clicked{
    background-color: black;
    border: 1px dashed white;
}
.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  